# Konfiguracja Serwera (DAEMON_)
DAEMON_OLLAMA_HOST=http://192.168.0.215:11434
DAEMON_MODEL_BRAIN=huihui_ai/qwen3.5-abliterated:9b
DAEMON_MODEL_ROUTER=huihui_ai/qwen3.5-abliterated:0.8b
DAEMON_HOST=0.0.0.0
DAEMON_PORT=8000

# Konfiguracja Klienta Windows
DAEMON_SERVER_URL=ws://192.168.0.103:8000/api/v1/ws/agent
WAKEWORD_MODEL=alexa
WAKEWORD_THRESHOLD=0.5
VAD_SILENCE_TIMEOUT_MS=700
WHISPER_MODEL_NAME=small
WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=float16
