# Wymagania klienta na stacji roboczej (Windows)

# --- Siec i Komunikacja ---
websockets>=12.0

# --- Audio Odtwarzanie i Nasluch ---
sounddevice>=0.4.6
numpy>=1.26.0

# --- STT i Wake Word (Etap 8/9) ---
openwakeword>=0.6.0
faster-whisper>=1.0.0
onnxruntime-gpu>=1.17.0
nvidia-cublas-cu12
nvidia-cudnn-cu12

# --- Zmysl Wzroku (Vision) ---
mss>=9.0.1
pillow>=10.2.0
